@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2314 0.0078 274.5956);
  --card: oklch(0.9842 0.0034 247.8575);
  --card-foreground: oklch(0.2314 0.0078 274.5956);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2314 0.0078 274.5956);
  --primary: oklch(0.7729 0.1535 163.2231);
  --primary-foreground: oklch(0.2314 0.0078 274.5956);
  --secondary: oklch(0.9683 0.0069 247.8956);
  --secondary-foreground: oklch(0.2314 0.0078 274.5956);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9288 0.0126 255.5078);
  --accent-foreground: oklch(0.2314 0.0078 274.5956);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.7729 0.1535 163.2231);
  --chart-1: oklch(0.7729 0.1535 163.2231);
  --chart-2: oklch(0.5510 0.0234 264.3637);
  --chart-3: oklch(0.7137 0.0192 261.3246);
  --chart-4: oklch(0.8717 0.0093 258.3382);
  --chart-5: oklch(0.9276 0.0058 264.5313);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2314 0.0078 274.5956);
  --sidebar-primary: oklch(0.7729 0.1535 163.2231);
  --sidebar-primary-foreground: oklch(0.2314 0.0078 274.5956);
  --sidebar-accent: oklch(0.9288 0.0126 255.5078);
  --sidebar-accent-foreground: oklch(0.2314 0.0078 274.5956);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.7729 0.1535 163.2231);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2074 0.0269 258.3038);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2546 0.0273 259.9779);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2546 0.0273 259.9779);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.7729 0.1535 163.2231);
  --primary-foreground: oklch(0.2314 0.0078 274.5956);
  --secondary: oklch(0.3255 0.0307 256.2493);
  --secondary-foreground: oklch(0.9067 0 0);
  --muted: oklch(0.3255 0.0307 256.2493);
  --muted-foreground: oklch(0.7457 0.0304 254.7208);
  --accent: oklch(0.3255 0.0307 256.2493);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3255 0.0307 256.2493);
  --input: oklch(0.3255 0.0307 256.2493);
  --ring: oklch(0.7729 0.1535 163.2231);
  --chart-1: oklch(0.7729 0.1535 163.2231);
  --chart-2: oklch(0.7457 0.0304 254.7208);
  --chart-3: oklch(0.5510 0.0234 264.3637);
  --chart-4: oklch(0.4461 0.0263 256.8018);
  --chart-5: oklch(0.3729 0.0306 259.7328);
  --sidebar: oklch(0.2074 0.0269 258.3038);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.7729 0.1535 163.2231);
  --sidebar-primary-foreground: oklch(0.2314 0.0078 274.5956);
  --sidebar-accent: oklch(0.3255 0.0307 256.2493);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.3255 0.0307 256.2493);
  --sidebar-ring: oklch(0.7729 0.1535 163.2231);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.10);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.10);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.20), 0 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.20), 0 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.20), 0 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.20), 0 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.20), 0 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
